*.iml
.gradle
samples/
app/src/main/assets/*.task
app/src/main/assets/*.tflite
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/logs/
.externalNativeBuild
.cxx
local.properties
